{% include "base/style.html" %}
    <!--Nav-->
{% include "base/header.html" %}
{% include 'messages.html' %}
<br><br>
<div class="container mx-auto mt-10">
  <div class="sm:flex shadow-md my-10">
    <div class="  w-full  sm:w-4/4 bg-white px-10 py-10">
      <div class="flex justify-between border-b pb-8">
        <h2 class="font-semibold text-2xl"></h2>
        <h2 class="font-semibold text-2xl">سبد خرید</h2>
      </div>
        {% for item in cart_items %}
      <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
        <div class="md:w-4/12 2xl:w-1/4 w-full">
          <img src="{{ item.product.image.url }}" alt="Black Leather Purse" class="h-full object-center object-cover md:block hidden" />
        </div>
        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
          <div class="flex items-center justify-between w-full">
            <p class="text-base font-black leading-none text-gray-800">{{ item.product.title }}</p>
            <div aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none">
                 {{ item.quantity }} :تعداد
            </div>
          </div>

          <p class="w-96 text-xs leading-3 mt-2 text-gray-600">کیفیت %100 تضمینی</p>
          <div class="flex items-center justify-between pt-5">
{#                    {% for products in products %}#}
{##}
{#            <div class="flex itemms-center">#}
{##}
{#                <a href="{% url 'shop:add_to_cart' products.id %}">#}
{#                    <p class="text-xs leading-3 underline text-blue-500  cursor-pointer">افزودن تعداد</p>#}
{#                </a>#}
{##}
{#            </div>#}
{#                    {% endfor %}#}

            <div class="flex itemms-center">

                <a href="{% url 'shop:remove_from_cart' item.id %}">
                    <p class="text-xs leading-3 underline text-red-500  cursor-pointer">حذف از سبد خرید</p>
                </a>
            </div>

              <span class="text-base font-black leading-none text-gray-800"><span class="flex"><p>تومان</p> {{ item.product.price }} </span>

          </div>
        </div>
      </div>

        {% empty %}
            <div class="text-2xl content-center	 text-center items-center">
	<div class="mt-2">سبد خرید شما خالی است</div>
                <center>
            <a href="{% url 'shop:ViewProduct' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">
        <svg class="fill-current mr-2 text-indigo-600 w-4" viewBox="0 0 448 512">
          <path
            d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
        </svg>
رفتن به فروشگاه
      </a>
                    </center>
            </div>
{% endfor %}
{% if cart_items %}
    </div>
    <div id="summary" class=" w-full   sm:w-1/4   md:w-1/2     px-8 py-10">
      <h1 class="font-semibold text-2xl border-b pb-8">مجموع سفارشات</h1>
      <div class="flex justify-between mt-10 mb-5">
        <span class="font-semibold text-sm uppercase"></span>
        <span class="font-semibold text-sm">             <span class="flex"><p>تومان</p> {{ total_price }}  </span>
</span>
      </div>

      <div class="py-10 text-right items-right justify-right">
        <label
              for="promo"
              class="font-semibold inline-block mb-3 text-sm uppercase"
            >
              کد تخفیف
            </label>
        <input
              type="text"
              id="promo"
              placeholder="کد تخفیف را اینجا وارد کنید"
              class="p-2 text-sm w-full"
            />
      </div>
      <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase">
            اعمال
          </button>
      <div class="border-t mt-8">
        <div class="flex font-semibold justify-between py-6 text-sm uppercase">
          <span>قیمت کل</span>
             <span class="flex"><p>تومان</p> {{ total_price }}  </span>
        </div>
        <button class="bg-indigo-500 font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
              تسویه حساب
            </button>
      </div>
    </div>
{% endif %}
  </div>

</div>






