<nav id="header" class="fixed gradient w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
            <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
               href="{% url 'shop:home' %}">
                <!--Icon from: http://www.potlabicons.com/ -->

                shop
            </a>
        </div>
        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                    class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>
        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
             id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a class="" href="{% url 'shop:ViewProduct' %}">فروشگاه</a>
                </li>
                {% if request.user.is_authenticated %}
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn "> حساب کاربری من
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'users:profileUpdate' %}">ویرایش پروفایل</a>
                                <a href="{% url 'users:profile_view' %}">نمایش پروفایل</a>
                                <a href="{% url 'users:logout' %}">خروج از حساب</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                &nbsp;
                &nbsp;
                <li class="mr-3">
                    {% if request.user.is_authenticated %}
                        <a class="" href="{% url 'shop:contact_to_admin' %}">تماس با ما</a>
                    {% else %}

                        <a class="" href="{% url 'shop:about' %}">درباره ما</a>
                    {% endif %}


                </li>
                <li class="mr-3">
                    {% if request.user.is_admin %}
                        <a class="" target="_blank" href="{% url "admin:index" %}">پنل ادمین </a>
                    {% endif %}
                </li>

                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-black  no-underline" href="{% url 'shop:home' %}">صفحه
                        اصلی</a>
                </li>

                <li class="mr-3">
                    {% if request.user.is_taiid_for_shop %}
                        <div class="navbar">
                            <div class="dropdown">
                                <button class="dropbtn "> فروشگاه من
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-content">
                                    <a href="{% url 'shop:ProfileShopEdit' %}">تنطیمات فروشگاه</a>
                                    <a href="{% url 'shop:create_product' %}">افزودن محصول</a>
                                </div>
                            </div>
                        </div>                {% endif %}
                </li>


            </ul>
            {% if not request.user.is_authenticated %}

                <a href="{% url 'users:login' %}">
                    <button
                            id="navAction"
                            class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                    >
                        ورود
                    </button>
                </a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}

            <a href="{% url 'shop:view_cart' %}">
                <button
                        id="navAction"
                        class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                >سبد خرید
                </button>
            </a>
        {% endif %}
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0"/>
</nav>